extends layout
block content
    include ./navbar.jade
    div.page(ng-controller='expenseController', ng-view, class='{{pageClass}}')
        h3 Expenses
        alert-notification
        ng-form(name="addExpense")
            div(class="row")
                label(class="control-label") Your tags
                div() Click to tag your expense
                komon-tags(ng-repeat="komonerTag in komonerTags")
            div(class="row")
                div(class="col-md-2")
                    label(class="control-label", for="name") Name
                    input(type="text", name="name", ng-model="name", class="form-control")

                div(class="col-md-2")
                    label(class="control-label", for="tags") Tags
                    div() Click to unselect
                    selected-tags(ng-repeat="komonerTag in selectedTags")

                div(class="col-md-2")
                    label(class="control-label", for="date") Date
                    div(class="input-group")
                        input(type="text", class="form-control", datepicker-popup="{{format}}", ng-model="date", is-open="opened", min-date="minDate", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", ng-required="true", close-text="Close")
                        span(class="input-group-btn")
                            button(type="button", class="btn btn-default", ng-click="openDatepicker($event)")
                                i(class="glyphicon glyphicon-calendar")

                div(class="col-md-2")
                    label(class="control-label", for="comment") Comment
                    div(class="input-group")
                        input(type="text", name="comment", ng-model="comment", class="form-control")
                        span(class="input-group-btn")
                            button(type="button", class="btn btn-default")
                                i(class="glyphicon glyphicon-comment")

                div(class="col-md-2")
                    label(class="control-label", for="price") Price
                    div(class="input-group")
                        input(type="text", name="price", ng-model="price", class="form-control")
                        span(class="input-group-btn")
                            button(type="button", class="btn btn-default")
                                i(class="glyphicon glyphicon-euro")

                div(class="col-md-2")
                    label(class="control-label", for="amount") Amount
                    select(ng-options="amount as amount.value for amount in amounts", ng-model="amount", class="form-control")

            div(class="row")
                    button(type="button", class="btn btn-primary", ng-click="addKomonerExpense()") Add

            div(class="row")
                button(type="button", class="btn btn-info", ng-click="deleteKomonerExpenses()") Remove

            div(class="row")
                div(class="col-md-2")
                    button(type="button" class="btn btn-default", aria-label="Previous", ng-click="prevMonth()")
                        span(class="glyphicon glyphicon-menu-left", aria-hidden="true")
                div(class="col-md-2")
                    label(class="control-label", for="dateSwitch") Month
                    div(class="input-group")
                        input(type="text", class="form-control", ng-change="switchMonth(dateSwitch)", datepicker-mode="'month'", datepicker-popup="MMMM yyyy", ng-model="dateSwitch", is-open="switchOpened", min-date="minDate", datepicker-options="dateSwitchOptions", date-disabled="disabled(date, mode)", ng-required="true", close-text="Close")
                        span(class="input-group-btn")
                            button(type="button", class="btn btn-default", ng-click="openSwitch($event)")
                                i(class="glyphicon glyphicon-calendar")
                div(class="col-md-2")
                    button(type="button" class="btn btn-default", aria-label="Next", ng-click="nextMonth()")
                        span(class="glyphicon glyphicon-menu-right", aria-hidden="true")
                div(class="col-md-2")
            div(class="grid", ui-grid="gridOptions", ui-grid-selection, ng-animate=" 'animate' ",ui-grid-edit, ui-grid-row-edit, ui-grid-cellNav)
                div(class="watermark" ng-show="!gridOptions.data.length") No expense for this month.






