extends layout

block content
    h3 Expenses
    div.page(ng-controller='expenseController', ng-view, class='{{pageClass}}')
        alert-notification
        ng-form(name="addExpense")
            div(class="row")
                div(class="col-md-2")
                    label(class="control-label", for="name") Name
                    input(type="text", name="name", ng-model="name", class="form-control")

                div(class="col-md-2")
                    label(class="control-label", for="tags") Tags
                    input(type="text", name="tags", ng-model="tags", class="form-control")

                div(class="col-md-2")
                    label(class="control-label", for="date") Date
                    div(class="input-group")
                        input(type="text", class="form-control", datepicker-popup="{{format}}", ng-model="date", is-open="opened", min-date="minDate", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", ng-required="true", close-text="Close")
                        span(class="input-group-btn")
                            button(type="button", class="btn btn-default", ng-click="openDatepicker($event)")
                                i(class="glyphicon glyphicon-calendar")

                div(class="col-md-2")
                    label(class="control-label", for="comment") Comment
                    div(class="input-group")
                        input(type="text", name="comment", ng-model="comment", class="form-control")
                        span(class="input-group-btn")
                            button(type="button", class="btn btn-default")
                                i(class="glyphicon glyphicon-comment")

                div(class="col-md-2")
                    label(class="control-label", for="price") Price
                    div(class="input-group")
                        input(type="text", name="price", ng-model="price", class="form-control")
                        span(class="input-group-btn")
                            button(type="button", class="btn btn-default")
                                i(class="glyphicon glyphicon-euro")

                div(class="col-md-2")
                    label(class="control-label", for="amount") Amount
                    select(ng-options="n for n in [] | range:1:100", ng-model="amount", class="form-control")

            div(class="row")
                    button(type="button", class="btn btn-success", ng-click="addKomonerExpense()") Add

            div(class="row")
                button(type="button", class="btn btn-danger", ng-click="deleteKomonerExpenses()") Remove

            div(class="row")
                div(class="col-md-2")
                    label(class="control-label", for="dateSwitch") Month
                    div(class="input-group")
                        input(type="text", class="form-control", ng-change="switchMonth()", datepicker-mode="'month'", datepicker-popup="MMMM", ng-model="dateSwitch", is-open="switchOpened", min-date="minDate", datepicker-options="dateSwitchOptions", date-disabled="disabled(date, mode)", ng-required="true", close-text="Close")
                        span(class="input-group-btn")
                            button(type="button", class="btn btn-default", ng-click="openSwitch($event)")
                                i(class="glyphicon glyphicon-calendar")

            div(class="grid", ui-grid="gridOptions", ui-grid-selection, ng-animate=" 'animate' ")






