doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower/angular-ui-grid/ui-grid.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/bower/ng-tags-input/ng-tags-input.min.css')
    link(rel='stylesheet', href='/bower/ng-tags-input/ng-tags-input.bootstrap.min.css')
    link(rel='stylesheet', href='/bower/angular-snap/angular-snap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower/bluebird/js/browser/bluebird.js')
    script(src='/bower/snapjs/snap.js')
    script(src='/bower/angular/angular.js')
    script(src='/bower/lodash/lodash.js')
    script(src='/bower/angular-snap/angular-snap.js')
    script(src='/bower/ng-tags-input/ng-tags-input.js')
    script(src='/bower/moment/moment.js')
    script(src='/bower/angular-moment/angular-moment.js')
    script(src='/bower/angular-animate/angular-animate.js')
    script(src='/bower/angular-touch/angular-touch.js')
    script(src='/bower/angular-ui-grid/ui-grid.js')
    script(src='/bower/restangular/dist/restangular.js')
    script(src='/bower/angular-bluebird-promises/dist/angular-bluebird-promises.min.js')
    script(src='/js/lib/angular-animate.js')
    script(src='/bower/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/js/app.js')
    script(src='/js/expense/expenseService.js')
    script(src='/js/alert/alertService.js')
    script(src='/js/alert/alertDirective.js')
    script(src='/js/utils/rangeFilter.js')
    script(src='/js/expense/expenseController.js')
    script(src='/js/tags/tagsService.js')
    script(src='/js/tags/tagsDirective.js')
  body(ng-app='komon')
    block content