body {
    font: 14px "Lato", Helvetica, Arial, sans-serif;
}

a {
    color: #000000;
}

.panel-content
{
    padding: 40px;
}

.noPadding
{
    padding: 0px;
}

.komonerTag {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 0px 0px 3pt 2pt rgb(48, 48, 48);
    border: 3px white solid;
    padding: 3px;
    float: left;
    cursor: pointer;
}

.komonerTag:hover {
    opacity: 0.8;
}

.snapTags {
    float: none;
    right: 0px;
    margin: auto;
    margin-bottom: 10px;
}

.selectedTag {
    border: 3px black solid;
    opacity: 0.7;
}

.smallKomonerTag {
    margin: 3px;
    font-size: 8px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0px 0px 1pt 0pt rgb(48, 48, 48);
    border: 2px white solid;
    padding: 2px;
}

.actionLink {
    font-weight: bold;
    cursor: pointer;
}

.komonerTag img {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

.smallKomonerTag img {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
}

.snapClose {
    float: none;
    width: 100%;
    margin-bottom: 10px;
}

.snapToggle {
    font-size: 50px;
    cursor: pointer;
    float: right;
}

snap-content {
    background-color: #fff;
    border-left: 1px solid #ccc;
}

.snap-drawer-right {
    width: 100px;
    text-align: center;
    background-color: rgb(179, 186, 234);
}

.form-control[readonly] {
    background-color: inherit;
}

.grid {
    width: 93%;
    height: 400px;
}

.ui-grid-row-selected .ui-grid-cell {
    background-color: #84A9ED !important;
}

.ui-grid-row-header-cell {
    height: 100%;
}

.ui-grid-header-cell {
    height: 78px;
}

.ui-grid-cell-focus {
    outline: 0;
    background-color: #BCC9FA;
}

.gridHeader {
    background-color: #A0B7FF;
    color: #162B37;
}

.gridCell {
}

.settings
{
    font-size: 16px;
    cursor: pointer;
}

.actionLink
{
    font-size: 10px;
    vertical-align: middle;
}

.inlineBlock
{
    display: inline-block;
}

.page {
    padding: 50px;
    padding-top:0px;
    padding-left: 105px;
}

.alert {
    position: fixed;
    top: 30px;
    left: 20px;
    right: 20px;
    z-index: 999;
}

.watermark {
    position: absolute;
    top: 100px;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}


